#volumeButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: transparent;
}
#settingsWindow{
    -fx-background-color: #9E9E9E;
}
.button{
    -fx-background-color: #000000;
    -fx-font-family: Sacramento;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-pref-height: 20px;
    -fx-pref-width: 62px;
}
#easyButton{
    -fx-background-color: #443c3c;
}
#map1Button{
    -fx-background-color: #443c3c;
}
#snake1Button{
    -fx-background-color: #443c3c;
}
.label{
    -fx-font-family: Sacramento;
    -fx-alignment: center;
    -fx-font-size: 14;
}
#settingsHeader{
    -fx-font-family: Sacramento;
    -fx-font-size: 36;
    -fx-alignment: center;
}
#backButton{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: transparent;
}